{% extends 'base.html' %} {% block title %}
<title>About Me..- Taskmate</title>
{% endblock title %} {% block content %}
<h1>{{about_text}}</h1>

<div class='container'>

<p>This is my first personal online diary to keep up with task, ideas and new sparks.</br>
My first django app, and an attempt to store content via database.</br>

</br>
Created on 1 June 2021. </br>
It is long overdue. Thanks to Covid and this new lock-down, finally manage to get something started.</br>
Let's see how long, and where this long overdue interest in programing and writing can lead to. </br>
Will polish up and keep this going.</p>

<p>by Footprints...</p>
</div>


{% endblock content %}
